config SENSORS_HALL_AH1898
	tristate "HALL sensor for ah1898"
	default n
	help
	  This driver provides support for the AH1898 HALL sensor
	  The sensor report a gpio interrupt for input system. The sensor is for
	  /sys/bus/platform/ah1898.
